<header>
  <h1>Welcome to the Modder's Resource Hub</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/mods">Mods</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/tutorials">Tutorials</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>
