<head>
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="512x512" href="/public/favicon/android-chrome-512x512.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/public/favicon/android-chrome-192x192.png">
  <link rel="icon" type="image/x-icon" href="/public/favicon/favicon.ico">
  <link rel="manifest" href="/public/favicon/site.webmanifest">
</head>
<header>
  <h1>Welcome to the Modder's Resource Hub</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/mods">Mods</a></li>
      <li><a href="/resources">Resources</a></li>
      <li><a href="/tutorials">Tutorials</a></li>
      <% if (!user) { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <% } else { %>
        <li><a href="/account">My Account</a></li>
        <li><a href="/logout">Logout</a></li>  
      <% } %>
    </ul>
  </nav>
</header>
