<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Logeout</title>
  <script>
    function redirectAfterDelay(delay) {
      setTimeout(function() {
        window.location.href = "/"
      }, delay);
    }
    redirectAfterDelay(5000)
  </script>
</head>
<body>
  <h1>You are now loged out</h1>
</body>
</html>